[defaults]
# Imposta il file di inventario di default, così non dovrai più passare "-i inventory.ini"
inventory = inventory.ini

# Migliora la leggibilità dell'output nel terminale (Metodo moderno per Ansible 2.13+)
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = timer, profile_tasks
bin_ansible_callbacks = True

# Disabilita i file .retry (meno file "spazzatura" nella directory del progetto in caso di fallimenti)
retry_files_enabled = False

# Nasconde i messaggi di warning del fatto che si sta usando python interpreter trovato nel sistema
interpreter_python = auto_silent

# Se per caso avessi cowsay installato, previene l'output scherzoso di Ansible
nocows = 1

# Raccoglie solo le informazioni necessarie per l'esecuzione del playbook
gathering = smart